:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;

  --fs-base: 1rem;            /* 16px */
  --fs-sm: 0.875rem;          /* 14px */
  --fs-md: 1.125rem;          /* 18px */
  --fs-lg: 1.5rem;            /* 24px */
  --fs-xl: 2rem;              /* 32px */
  --fs-xxl: 2.5rem;           /* 40px */

    /* Website colours */
    --website-color-primary: #E63946;
    --website-color-secondary: #F4A261;
    --website-color-third: #fadeb0;
    --website-color-accent: #2A9D8F;
    --website-color-light-bg: #F1FAEE;
    --website-color-dark-headings: #103b77;
    --dark-body-text-color: #3D3D3D;
    --light-text-color: #6D6D6D;
    --color-white:#FFFFFF; 
    --color-black: #000000;

}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fef6e4;
    margin: 0;
    padding: 2rem;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-family: var(--font-heading);
    color: var(--website-color-primary);

}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-body);
  color: var(--dark-body-text-color);
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--website-color-accent);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: var(--website-color-secondary);
}

.cat-brand {
  margin-top: 2rem;
}

.cat-brand img {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.task-box {
  margin-top: 1rem;
  color: var(--website-color-accent);
  font-weight:bold ;
}

.error-message {
  color: var(--website-color-primary);
  font-weight: bold;
  min-height: 1rem;
  font-size: 1rem;
}

.list-section li {
  list-style-type: none;
  display: flex;
  padding: 0;
  color: var(--dark-body-text-color);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.list-section li:hover {
  transform: scale(1.02);
  background-color: var(--website-color-secondary);
  color: #F1FAEE;
}